.bg-contact {
    width: 100%;
    height: auto !important;
    margin-top: 125px;
}

.bg-contact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../img/contact-visual.png"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.bg-contact {
    top: 60px !important;
}

.bg-contact {
    top: 60px !important;
}

.hire ul {
    margin: 100px 0 0 !important;
}

.hire {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 700px;
    max-width: 75%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
}

@media (max-width: 1180px) {
    .hire {
        max-width: 100%
    }
}

.hire h2 {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center
}

.hire h2 {
    font-size: 21px !important;
}

.hire ul {
    margin: 100px 0 0 !important;
}

.work-request--information {
    flex-flow: row wrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 60px
}

.work-request--information .information-name,
.work-request--information .information-email {
    position: relative;
    width: 45%;
    /* height: 50px; */
    font-size: 17px;
    font-weight: 300;
    margin: 10px;
}

.work-request--information input[type="text"],
.work-request--information input[type="email"] {
    width: 100%;
    padding: 0 0 5px 0;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ff3d00;
    border-radius: 0
}

.work-request--information input[type="text"]:focus,
.work-request--information input[type="email"]:focus {
    outline: none;
    background-color: #0c0c0c
}

.work-request--information label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out
}

.work-request--information input:focus+label,
.work-request--information input.has-value+label {
    top: -15px;
    font-size: 14px
}

@media (max-width: 767px) {
    .work-request--options {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .work-request--options .options-a,
    .work-request--options .options-b {
        /* display: block;
        width: auto */
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        width: 90%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .work-request--options {
        margin: 20px 0
    }
    .about--options>a {
        width: 107px !important;
        height: 110px !important;
    }
    .accordion .accordion-content p {
        font-size: 0.9rem !important;
    }
}

@media (max-width: 600px) and (max-width: 415px) {
    .work-request--options {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .work-request--options label {
        width: 48%;
        margin-bottom: 6px;
        font-size: 10px;
    }
    .work-request--options label:nth-child(6) {
        width: 100%;
    }
    /* .work-request--options .options-b label {
        line-height: 21px !important;
    } */
    .work-request--options input[type="checkbox"]:checked+label svg {
        width: 12px
    }
    .work-request--information {
        margin-bottom: 30px
    }
    .work-request--information .information-name,
    .work-request--information .information-email {
        height: 22px;
        font-size: 24px
    }
    .work-request--information .information-email input[type="text"] {
        padding: 0 0 15px 0;
    }
    .hire h2 {
        font-size: 21px !important;
    }
    .work-request--options p {
        font: caption !important;
    }
    .work-request input[type="submit"] {
        width: 70%;
    }
}